body {
    background-color: rgb(0, 0, 0);
}
.name {
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
.container  #tasklist {
    background-color: lightgrey;
    padding: 15px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.container #rightpane {
    width: 50%;
    margin: auto;
    margin-left: 25px;
}
.container #rightpane input {
    border: none;
    font-size: 50px;
    background-color: black;
    color: lightgrey;
}
.heading{
    text-align: center;
    display: block;
    font-size: 25px;
    font-weight: bolder;   
}
.trash {
    float: right;;
}